<p>todo-list works! теперь не одинокий елемент 19_5_2024</p>
<div>
    <!-- <span > -->
    <span (click)="onTaskClick({title: 'Test0', description: 'Description0'} )">   
      <!-- <span (click)="onTaskClick(tasks)">    -->
      <!-- <span (click)="onTaskClick(tasks)"></span> -->
       
       {{ tasks[0].title }} 
       {{ tasks[0].description}} 
       {{ tasks[1].title }} 
       {{ tasks[1].description}} 
       
       <!-- {{task.title}} -->
    </span>
   
    <ul> 
        <!-- <li *ngFor="let item of tasks; trackBy: trackByItemId"> -->
          <li *ngFor="let item of tasks; ">
          {{ item.title }}: {{ item.description }}
        </li>
    </ul>
  
      <!-- <button *ngFor="let item of articles" (click)="goToArticle(item.id)">
        {{item.title}}
      </button> -->


    <!-- <li *ngFor="let item of items; trackBy: trackByItemId"> -->
        <!-- {{ item.id }}: {{ item.name }} -->
      <!-- </li> -->

</div>
